<% if notice %>
  <p class="notice" style="background: #6ED4EC; padding: 20px; font-size: 24px;"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice" style="background: #ECAECC; padding: 20px; font-size: 24px;"><%= alert %></p>
<% end %>